var replaceStar = function (array) {
    var mphone = array.substring(0, 3) + '****' + array.substring(7);
    return mphone;
}

// 保留两位小数
var moneyFormat = function(money) {
    return money.toFixed(2);
}

//  <!-- 企业性质 1，国有 2，集体 3，私营 4，外资 11,其他 -->
var enterpriseEconomicCategoryFilter = function(val) {
    if (val == 1) {
        return '国有'
    } else if (val == 2) {
        return '集体'
    } else if (val == 3) {
        return '私营'
    } else if (val == 4) {
        return '外资'
    } else if (val == 5) {
        return '外资'
    } else {
        return '其他'
    }
}
//导出
module.exports = {
    replaceStar: replaceStar,
    moneyFormat: moneyFormat,
    enterpriseEconomicCategoryFilter: enterpriseEconomicCategoryFilter
}